@model LoggedOutViewModel

@{
  // set this so the layout rendering sees an anonymous user
  ViewData["signed-out"] = true;
}

<div class="bg-white shadow sm:rounded-lg sm:max-w-md sm:mx-auto">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Logout</h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>You are now logged out.</p>
    </div>
    @if (Model.PostLogoutRedirectUri != null)
    {
      <div class="mt-3 text-sm">
        <a href="@Model.PostLogoutRedirectUri" class="font-medium text-blue-500 hover:text-blue-400">Click here to return to <span class="font-bold">@Model.ClientName</span> application <span aria-hidden="true">&rarr;</span></a>
      </div>
    }
  </div>
</div>

@if (Model.SignOutIframeUrl != null)
{
  <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}

@section scripts
{
  @if (Model.AutomaticRedirectAfterSignOut)
  {
    <script src="~/js/signout-redirect.js"></script>
  }
}
