@model LogoutViewModel

<div class="bg-white shadow sm:rounded-lg sm:max-w-md sm:mx-auto">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Logout</h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>Would you like to logout of IdentityServer?</p>
    </div>
    <div class="mt-5">
      <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId" />
        <button type="submit" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus-ring-blue-500 sm:text-sm">Yes</button>
      </form>
    </div>
  </div>
</div>
