<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <title>IdentityServer4</title>
    
  <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

  <link rel="stylesheet" href="~/lib/inter/inter.css" />
  <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
  <div>
    <partial name="_Nav" />
    @if (ViewData.ContainsKey("PageTitle"))
    {
      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold leading-tight text-gray-900">@ViewData["PageTitle"]</h1>
        </div>
      </header>
    }
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        @RenderBody()
      </div>
    </main>

    @*<div class="container body-container">
      @RenderBody()
    </div>*@
  </div>

  <script src="~/js/ui.js" defer></script>
  @RenderSection("scripts", required: false)
</body>
</html>
